extends ../layout

block content
  .page-header
    h3 Qualifications

    #treeview_container.hummingbird-treeview()

      ul#treeview.hummingbird-base
          li
            i.fa.fa-plus
            | &#x9;&#x9;
            label
              input#xnode-0(data-id='custom-0', type='hidden')
              |  Scholarly
            | &#x9;&#x9;
            ul
              li
                i.fa.fa-plus
                | &#x9;&#x9;&#x9;
                label
                  input#xnode-0-1(data-id='custom-0-1', type='hidden')
                  |  Math
                | &#x9;&#x9;&#x9;
                ul
                  li
                    label
                      input#math1.hummingbird-end-node(data-id='custom-0-1-1', type='checkbox')
                      |  Lvl 1
                  | &#x9;&#x9;&#x9;
                  li
                    label
                      input#math2.hummingbird-end-node(data-id='custom-0-1-2', type='checkbox')
                      |  Lvl 2
                  li
                    label
                      input#math3.hummingbird-end-node(data-id='custom-0-1-3', type='checkbox')
                      |  Lvl 3
              | &#x9;&#x9;
              li
                i.fa.fa-plus
                | &#x9;&#x9;&#x9;
                label
                  input#xnode-0-2(data-id='custom-0-2', type='hidden')
                  |  Physics
                | &#x9;&#x9;&#x9;
                ul
                  li
                    label
                      input#phys1.hummingbird-end-node(data-id='custom-0-2-1', type='checkbox')
                      |  Lvl 1
                  | &#x9;&#x9;&#x9;
                  li
                    label
                      input#phys2.hummingbird-end-node(data-id='custom-0-2-2', type='checkbox')
                      |  Lvl 2
                  li
                    label
                      input#phys3.hummingbird-end-node(data-id='custom-0-2-3', type='checkbox')
                      |  Lvl 3
              | &#x9;&#x9;
              li
                i.fa.fa-plus
                | &#x9;&#x9;&#x9;
                label
                  input#xnode-0-3(data-id='custom-0-3', type='hidden')
                  |  Chemistry
                | &#x9;&#x9;&#x9;
                ul
                  li
                    label
                      input#chem1.hummingbird-end-node(data-id='custom-0-3-1', type='checkbox')
                      |  Lvl 1
                  | &#x9;&#x9;&#x9;
                  li
                    label
                      input#chem2.hummingbird-end-node(data-id='custom-0-3-2', type='checkbox')
                      |  Lvl 2
                  li
                    label
                      input#chem3.hummingbird-end-node(data-id='custom-0-3-3', type='checkbox')
                      |  Lvl 3
              | &#x9;&#x9;
            li
              i.fa.fa-plus
              | &#x9;&#x9;
              label
                input#xnode-1(data-id='custom-1', type='hidden')
                |  Artistic
              | &#x9;&#x9;
              ul
                li
                  i.fa.fa-plus
                  | &#x9;&#x9;&#x9;
                  label
                    input#xnode-1-1(data-id='custom-1-1', type='hidden')
                    |  Salsa
                  | &#x9;&#x9;&#x9;
                  ul
                    li
                      label
                        input#salsa1.hummingbird-end-node(data-id='custom-1-1-1', type='checkbox')
                        |  Lvl 1
                    | &#x9;&#x9;&#x9;
                    li
                      label
                        input#salsa2.hummingbird-end-node(data-id='custom-1-1-2', type='checkbox')
                        |  Lvl 2
                    li
                      label
                        input#salsa3.hummingbird-end-node(data-id='custom-1-1-3', type='checkbox')
                        |  Lvl 3
                | &#x9;&#x9;
                li
                  i.fa.fa-plus
                  | &#x9;&#x9;&#x9;
                  label
                    input#xnode-1-2(data-id='custom-1-2', type='hidden')
                    |  Painting
                  | &#x9;&#x9;&#x9;
                  ul
                    li
                      label
                        input#painting1.hummingbird-end-node(data-id='custom-1-2-1', type='checkbox')
                        |  Lvl 1
                    | &#x9;&#x9;&#x9;
                    li
                      label
                        input#painting2.hummingbird-end-node(data-id='custom-1-2-2', type='checkbox')
                        |  Lvl 2
                    li
                      label
                        input#painting3.hummingbird-end-node(data-id='custom-1-2-3', type='checkbox')
                        |  Lvl 3
                | &#x9;&#x9;
                li
                  i.fa.fa-plus
                  | &#x9;&#x9;&#x9;
                  label
                    input#xnode-1-3(data-id='custom-1-3', type='hidden')
                    |  Yoga
                  | &#x9;&#x9;&#x9;
                  ul
                    li
                      label
                        input#yoga1.hummingbird-end-node(data-id='custom-1-3-1', type='checkbox')
                        |  Lvl 1
                    | &#x9;&#x9;&#x9;
                    li
                      label
                        input#yoga2.hummingbird-end-node(data-id='custom-1-3-2', type='checkbox')
                        |  Lvl 2
                    li
                      label
                        input#yoga3.hummingbird-end-node(data-id='custom-1-3-3', type='checkbox')
                        |  Lvl 3
                | &#x9;&#x9;
              li
                i.fa.fa-plus
                | &#x9;&#x9;
                label
                  input#xnode-1(data-id='custom-2', type='hidden')
                  |  Sports
                | &#x9;&#x9;
                ul
                  li
                    i.fa.fa-plus
                    | &#x9;&#x9;&#x9;
                    label
                      input#xnode-2-1(data-id='custom-2-1', type='hidden')
                      |  Football
                    | &#x9;&#x9;&#x9;
                    ul
                      li
                        label
                          input#football1.hummingbird-end-node(data-id='custom-2-1-1', type='checkbox')
                          |  Lvl 1
                      | &#x9;&#x9;&#x9;
                      li
                        label
                          input#football2.hummingbird-end-node(data-id='custom-2-1-2', type='checkbox')
                          |  Lvl 2
                      li
                        label
                          input#football3.hummingbird-end-node(data-id='custom-2-1-3', type='checkbox')
                          |  Lvl 3
                  | &#x9;&#x9;
                  li
                    i.fa.fa-plus
                    | &#x9;&#x9;&#x9;
                    label
                      input#xnode-2-2(data-id='custom-2-2', type='hidden')
                      |  Golf
                    | &#x9;&#x9;&#x9;
                    ul
                      li
                        label
                          input#golf1.hummingbird-end-node(data-id='custom-2-2-1', type='checkbox')
                          |  Lvl 1
                      | &#x9;&#x9;&#x9;
                      li
                        label
                          input#golf2.hummingbird-end-node(data-id='custom-2-2-2', type='checkbox')
                          |  Lvl 2
                      li
                        label
                          input#golf3.hummingbird-end-node(data-id='custom-2-2-3', type='checkbox')
                          |  Lvl 3
                  | &#x9;&#x9;
                  li
                    i.fa.fa-plus
                    | &#x9;&#x9;&#x9;
                    label
                      input#xnode-2-3(data-id='custom-2-3', type='hidden')
                      |  Swimming
                    | &#x9;&#x9;&#x9;
                    ul
                      li
                        label
                          input#swimming1.hummingbird-end-node(data-id='custom-2-3-1', type='checkbox')
                          |  Lvl 1
                      | &#x9;&#x9;&#x9;
                      li
                        label
                          input#swimming2.hummingbird-end-node(data-id='custom-2-3-2', type='checkbox')
                          |  Lvl 2
                      li
                        label
                          input#swimming3.hummingbird-end-node(data-id='custom-2-3-3', type='checkbox')
                          |  Lvl 3
                  | &#x9;&#x9;
                li
                  i.fa.fa-plus
                  | &#x9;&#x9;
                  label
                    input#xnode-3(data-id='custom-3', type='hidden')
                    |  Crafts
                  | &#x9;&#x9;
                  ul
                    li
                      i.fa.fa-plus
                      | &#x9;&#x9;&#x9;
                      label
                        input#xnode-3-1(data-id='custom-3-1', type='hidden')
                        |  Plumbing
                      | &#x9;&#x9;&#x9;
                      ul
                        li
                          label
                            input#plumbing1.hummingbird-end-node(data-id='custom-3-1-1', type='checkbox')
                            |  Lvl 1
                        | &#x9;&#x9;&#x9;
                        li
                          label
                            input#plumbing2.hummingbird-end-node(data-id='custom-3-1-2', type='checkbox')
                            |  Lvl 2
                        li
                          label
                            input#plumbing3.hummingbird-end-node(data-id='custom-3-1-3', type='checkbox')
                            |  Lvl 3
                    | &#x9;&#x9;
                    li
                      i.fa.fa-plus
                      | &#x9;&#x9;&#x9;
                      label
                        input#xnode-3-2(data-id='custom-3-2', type='hidden')
                        |  Sewing
                      | &#x9;&#x9;&#x9;
                      ul
                        li
                          label
                            input#sewing1.hummingbird-end-node(data-id='custom-3-2-1', type='checkbox')
                            |  Lvl 1
                        | &#x9;&#x9;&#x9;
                        li
                          label
                            input#sewing2.hummingbird-end-node(data-id='custom-3-2-2', type='checkbox')
                            |  Lvl 2
                        li
                          label
                            input#sewing3.hummingbird-end-node(data-id='custom-3-2-3', type='checkbox')
                            |  Lvl 3
                    | &#x9;&#x9;
                    li
                      i.fa.fa-plus
                      | &#x9;&#x9;&#x9;
                      label
                        input#xnode-3-3(data-id='custom-3-3', type='hidden')
                        |  Welding
                      | &#x9;&#x9;&#x9;
                      ul
                        li
                          label
                            input#welding1.hummingbird-end-node(data-id='custom-3-3-1', type='checkbox')
                            |  Lvl 1
                        | &#x9;&#x9;&#x9;
                        li
                          label
                            input#welding2.hummingbird-end-node(data-id='custom-3-3-2', type='checkbox')
                            |  Lvl 2
                        li
                          label
                            input#welding3.hummingbird-end-node(data-id='custom-3-3-3', type='checkbox')
                            |  Lvl 3
                    | &#x9;&#x9;

    button#qualSubmit(type=submit) Submit!

    p#displayItems
  #caltab.tab-pane
    #calendar
