extends layout

block content
  script.
    var users= !{JSON.stringify(users, (k, v) => v === undefined ? null : v)};
  h1 2tc!
  p.lead Expanding on boilerplate.
  hr
  .container
    .row
      .col-sm-6
        #userCardsGoesHere


      .col-sm-6
        .card
          img.card-img-top(src='images/Upwards.jpg', alt='Card image cap')
          .card-body
            h4.card-title Earn Cash money!
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
            a.btn.btn-primary(href='#') Go somewhere

        .card
          img.card-img-top(src='images/Upwards.jpg', alt='Card image cap')
          .card-body
            h4.card-title Learn for less!
            p.card-text#hithere
              | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
            a.btn.btn-primary(href='#') Go somewhere

        .card
          img.card-img-top(src='images/Upwards.jpg', alt='Card image cap')
          .card-body
            h4.card-title Increase your attractiveness to the other sex!
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
            a.btn.btn-primary(href='#') Go somewhere
